mixin contacts
	+b.SECTION.contacts
		+e.DIV.wrap(class="wrapper")
			+e.H2.title(class="titles") Get in
				+e.STRONG.strong(class="strong")  touch
			+e.P.desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
			+e.FORM.form(action="#", method="POST")
				+e.DIV.content
					+e.DIV.col
						+e.FIELDSET.set(class="--required")
							+e.INPUT.input(type="text", required, aria-required="true", placeholder="Name")
						+e.FIELDSET.set(class="--required")
							+e.INPUT.input(type="email", required, aria-required="true", placeholder="Email")
						+e.FIELDSET.set
							+e.INPUT.input(type="text", placeholder="Subject")
					+e.DIV.col
						+e.FIELDSET.set(class="--area --required")
							+e.TEXTAREA.area(required, aria-required="true", placeholder="Message")

					+e.INPUT.submit(class="btn --filled", type="submit", value="Subscribe now")

		//-+e.DIV.map#map
