/*!******************CONTACTS******************/
.contacts {
	position: relative;
	box-sizing: border-box;
	padding: $base-element-padding * 2 0;
	font-size: $base-font-size * 1.125;

	&__wrap {
		position: relative;
		z-index: 400;
		box-sizing: border-box;
	}
}