/***********************BTN***********************/
.btn {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);

	&--filled {
		position: relative;
		z-index: 100;
		padding: 1em 0;
		font-size: $base-font-size;
		color: $base-color-light-primary;
		background-color: $base-decor-color;
		font-weight: normal;
		border-radius: 0;
		overflow: hidden;
		&:hover,
		&:focus {
			background-color: darken($base-decor-color, 15%);
		}
	}
}
