/*!******************SERVICES******************/
.services {
	padding: $base-element-padding * 1.5 0;

	&__desc {
		margin: 2em 0 0;
		font-size: $base-font-size * 1.125;
		text-align: center;
	}

	&__list {
		@include row-flex();
		@include justify-content(center);
		margin-top: 2em;
		padding: 0;
		list-style: none;
	}
	
	&__item {
		position: relative;
		box-sizing: border-box;
		@include col-4();
		padding: 1em 1em 1em 8em;
	}

	&__caption {
		margin: 0;
		font-size: $base-font-size * 1.5;
		font-weight: normal;
	}

	&__icon-wrap {
		position: absolute;
		top: 50%;
		left: 1em;
		width: 4.4em;
		height: 4.4em;
		transform: translateY(-50%) rotateZ(45deg);
		border: 3px solid $base-color-light-secondary;
		transition: all .2s ease-in;
		&:hover {
			border-color: $base-decor-color;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2.2em;
		height: 2.2em;
		transform: translate(-50%, -50%) rotateZ(-45deg);
		fill: $base-decor-color;
	}

}