include _assets/bemto/bemto.pug
- set_bemto_settings({ modifier: "--" })

include head/head.pug

include logo/logo.pug
include menu-btn/menu-btn.pug
include main-nav/main-nav.pug
include socials/socials.pug
include achievements/achievements.pug
include about/about.pug
include viewSlider/viewSlider.pug
include services/services.pug
include features/features.pug
include partners/partners.pug
include team/team.pug
include contacts/contacts.pug
include footer/footer.pug
include scroll-to-top/scroll-to-top.pug


doctype html
html(lang="ru")

	head
		+head({
			"title": "BrandaLOKA",
			"author": "Igor Chernobay",
			"description": "BrandaLOKA"
		})

	+b.BODY.page
		+e.DIV.wrap
			+b.HEADER.header#header
				+e.DIV.wrap(class="wrapper")

					//block main-nav
					+main-nav()
					//end block main-nav

					// block menu-btn
					//-+menu-btn()
					// end block menu-btn

					//block socials
					+socials(
						{"class": "wow"},
						[
							{"class": "--border --white", "id": "#facebook", "link": "https://facebook.com/"},
							{"class": "--border --white", "id": "#twitter", "link": "https://twitter.com/"},
							{"class": "--border --white", "id": "#dribbble", "link": "https://dribbble.com/"},
							{"class": "--absolute --absolute_1 --border --white", "id": "#googleplus", "link": "https://plus.google.com/"},
							{"class": "--absolute --absolute_2 --border --white", "id": "#skype", "link": "https://www.skype.com/"},
							{"class": "--absolute --absolute_3 --border --white", "id": "#vimeo", "link": "https://www.skype.com/"}
						]
					)
					//end block socials

					+e.A.btn(href="#achievements")
						+e.SVG.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.4 7.7" width="16" height="16")
							path(d="M14.3,0.1c-0.2-0.2-0.5-0.2-0.7,0L7.2,6.5L0.9,0.1C0.7,0,0.3,0,0.1,0.1S0,0.7,0.1,0.9l6.7,6.7c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l6.7-6.7C14.4,0.7,14.4,0.3,14.3,0.1z")
			+b.MAIN.main
				//block achievements
				+achievements([
					{"value": "863", "text": "Projects work"},
					{"value": "921", "text": "Facebook likes"},
					{"value": "572", "text": "Tutorials create"},
					{"value": "159", "text": "Coffees made"}
				])
				//end block achievements

				//block about
				+about()
				//end block about

				//block services
				+services([
					{	"id": "#chart",
						"caption": "Adipiscing tortor",
						"text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."
					},
					{	"id": "#cloud",
						"caption": "Adipiscing tortor",
						"text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."
					},
					{	"id": "#location",
						"caption": "Adipiscing tortor",
						"text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."
					},
					{	"id": "#alarm",
						"caption": "Adipiscing tortor",
						"text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."
					},
					{	"id": "#eye",
						"caption": "Adipiscing tortor",
						"text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."
					},
					{	"id": "#code",
						"caption": "Adipiscing tortor",
						"text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."
					}
				])
				//end services

				//block features
				+features([
					{"caption": "Adipiscing tortor", "text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."},
					{"caption": "Adipiscing tortor", "text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."},
					{"caption": "Adipiscing tortor", "text": "Morbi condimentum leo sedsollicitudin pulvinar.Phasellusrutrum interdum elit quis."}
				])
				//end block features

				//block partners
				+partners([
					{"src": "audiojungle"},
					{"src": "3docean"},
					{"src": "themeforest"},
					{"src": "graphicriver"},
					{"src": "codecanyon"},
					{"src": "photodune"},
					{"src": "videohive"}
				])
				//end block partners

				//block team
				+team([
					{"src": "team1", "text": "CEO / Founder	"},
					{"src": "team2", "text": "Manager"},
					{"src": "team3", "text": "Web developer"},
					{"src": "team4", "text": "Web designer"}
				])
				//end block team

			+footer({"class": "wow"})

		//-
			+scroll-to-top({
				"class": "page__scrollTop",
				"link": "#header"
			})


		// build:js js/vendor.js
		script( src="libs/jquery/dist/jquery.min.js")
		//-script( src="libs/animsition/dist/js/animsition.min.js")
		//-script( src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script( src="libs/jquery-validation/dist/jquery.validate.min.js")
		script( src="libs/wow/dist/wow.min.js")
		//-script( src="libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
		// endbuild


		// build:js js/main.js
		script( src="js/main.js")
		// endbuild