/*******************VIEWSLIDER******************/
$slider : viewSlider;

.viewSlider {
	position: relative;
	background-color: $base-color-darker-primary;

	//slider
	&__slider {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 16em;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
		
		&--isActive {
			opacity: 1;
			visibility: visible;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}

	//dots
	&__dots {
		position: absolute;
		top: 105%;
		left: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__dot {
		width: .8em;
		height: .8em;
		margin: .5em;
		background-color: $base-color-darker-primary;
		transform: rotateZ(45deg);
		cursor: pointer;
		transition: all .3s ease;
		&:hover {
			background-color: darken($base-color-darker-primary, 10%);
		}
		
		&--isActive {
			background-color: $base-decor-color;
			&:hover {
				background-color: $base-decor-color;
			}
		}
	}

	&__control {
		position: absolute;
		top: 50%;
		width: 1.6em;
		height: 1.6em;
		margin: 0;
		padding: 0;
		border: none;
		background-color: $base-decor-color;
		outline: none;
		-webkit-appearance: none;
		cursor: pointer;
		transform: translateY(-50%) rotateZ(45deg);
		transition: all .3s ease;
		&:hover,
		&:focus {
			background-color: darken($base-decor-color, 10%);
		}

		&--prev {
			left: 1em;
			.#{$slider}__icon {
				transform: translate(-55%, -45%) rotateZ(135deg);
			}
		}

		&--next {
			right: 1em;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: .8em;
		height: .8em;
		transform: translate(-45%, -55%) rotateZ(-45deg);
		fill: $base-color-light-primary;
	}
}