/*!******************LOGO******************/
.logo {
	position: absolute;
	left: -1.4em;
	z-index: 400;
	display: block;
	width: 11em;
	height: 2em;
	margin: 0;
	opacity: 1;
	transition: all .4s ease;

	&__link {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}

}