@font-face {
	font-family: 'Homizio Nova';
	src: local('HomizioNova-Light'),
	url('../fonts/HomizioNova-Light.woff2') format('woff2'),
	url('../fonts/HomizioNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Homizio Nova';
	src: local('HomizioNova-Italic'),
	url('../fonts/HomizioNova-Italic.woff2') format('woff2'),
	url('../fonts/HomizioNova-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Homizio Nova';
	src: local('HomizioNova'),
	url('../fonts/HomizioNova.woff2') format('woff2'),
	url('../fonts/HomizioNova.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

