/***********************BASE***********************/
$base-font-family               : 'Homizio Nova', Arial, sans-serif;
$base-font-size                 : 1rem;
$base-font-weight               : normal;
$base-line-height               : 1.5;
//$base-letter-spacing			:.01rem

$base-color-text	            : #777777;
$base-decor-color               : #e83a93;
$base-color-light-primary       : #fff;
$base-color-light-secondary     : #eeeeee;
$base-color-darker-primary      : #aaaaaa;
$base-color-darker-secondary	: #555555;

$base-wrap-element-width        : 71.25rem;
$base-element-padding           : 3.125em;


/***********************HEADINGS***********************/
$heading-font-family            : 'Homizio Nova', Arial, Helvetica, sans-serif;
$heading-font-size              : 2.5rem;
$heading2-font-size             : 2rem;
//$heading3-font-size             : 1.875rem;
//$heading4-font-size             : 1.5rem;
//$heading5-font-size             : 1.125rem;
//$heading-font-weight            : bold;
$heading-line-height            : 1.3;
$heading-letter-spacing         : .01em;


/***********************MEDIA QUERIES***********************/
$media-lg                       : 1280px;
$media-md                       : 960px;
$media-sm                       : 780px;
$media-xs                       : 600px;
$media-xxs						: 480px;