/*******************ABOUT******************/
.about {
	padding: $base-element-padding * 2 0;
	font-size: $base-font-size * 1.125;
	background-color: $base-color-light-secondary;

	&__lead {
		width: 90%;
		margin: 2em auto 0;
		font-size: $base-font-size * 1.25;
		text-align: center;
	}

	&__text {
		margin: 2em auto 0;
	}

	&__btn {
		width: 9em;
		margin-top: 3em;
	}

	&__slider {
		float: right;
		width: 50%;
		min-height: 16em;
		margin-top: 2em;
	}
}
